<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Sitecore.Commerce.XA.Feature.Cart" version="1.4.150" targetFramework="net462" />
  <package id="Sitecore.Commerce.XA.Foundation.Common" version="1.4.150" targetFramework="net462" />
  <package id="Sitecore.Commerce.XA.Foundation.Connect" version="1.4.150" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.MarkupDecorator" version="3.8.0" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Mvc" version="3.8.0" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="3.8.0" targetFramework="net462" developmentDependency="true" />
</packages>