<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="XC.SXC.StripePaymentProcessor.Controllers.XcCheckoutController, XC.SXC.StripePaymentProcessor" 
                implementationType="XC.SXC.StripePaymentProcessor.Controllers.XcCheckoutController, XC.SXC.StripePaymentProcessor" lifetime="Transient"/>
      <register serviceType="XC.SXC.StripePaymentProcessor.Repositories.Checkout.IXcCheckoutRepository, XC.SXC.StripePaymentProcessor" 
                implementationType="XC.SXC.StripePaymentProcessor.Repositories.Checkout.XcCheckoutRepository, XC.SXC.StripePaymentProcessor" lifetime="Singleton"/>
    </services>
    <pipelines>
      <httpRequestBegin>
        <initialize>
          <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" 
                     type="XC.SXC.StripePaymentProcessor.Pipelines.Initialize.RegisterControllerRoutes, XC.SXC.StripePaymentProcessor"/>
        </initialize>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
